
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.like-button-div {
  width: 100%;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
}

.like-button {
  height: 77px;
  width: 200px;
}
